.iterations {
    display: flex;
    flex-wrap: wrap;
}

.iteration {
    display: flex;
    width: 100%; /* Full width of the iterations container */
    justify-content: space-between;
}

.iteration-column {
    width: 16%; /* First column width */
    padding: 13px;
    border: 1px solid rgba(69, 252, 255, 0.345);
    text-align: center;
}

.iteration-column:nth-child(2) {
    width: 42%;
}

.iteration-column:nth-child(3) {
    width: 42%; 
}

/* 
@media screen and (max-width: 800px) {
   .iterations{
    min-width: 800px;
   }
} */