* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  background-color: #02030c;
  height: 100%;
  width: 100%;
  color: white;
}

.header{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
 
}

.container {
  display: flex;
  flex-direction: row;
  height: 90%;
  width: 100%;
  /* flex-wrap: wrap; */
  /* justify-content: center; */
}

.left-container {
  display: grid;
  /* grid-template-rows: 1fr 2fr; */
  /* width: 50%; */
  border-right: 1px solid rgba(255, 255, 255, 0.2);
}
.right-container{
  /* width: 40%; */
}
.iteration-table{
  display: flex;
  flex-direction: column;
  align-items: center;
  /* border: 1px solid yellow; */
  height: 100%;
}

@media screen and (max-width: 1200px) {
  .container{
    flex-direction: column;
  }
}