* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  height: 100vh;
  width: 100%;
  color: white;
  min-width: 100vw;
}

.header{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
 
}

.container {
  display: flex;
  width: 100%;
  height: 90%;
}

.left-container {
  display: flex;
  flex-direction: column;
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  width: 50vw;
}

.iteration-table{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.right-container {
  flex: 1;
}

@media screen and (max-width: 1600px) {
  .container{
    flex-direction: column;
  }
  .left-container{
    border: none;
    width: 100%;
  }
}

@media screen and (max-width: 800px) {
  .left-container {
    width: 100%;
  }

  .right-container {
    width: 100%;
  }
}
