/* src/tailwind.css */
@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header{
  height: 10% !important;
}



.border-gray{
  border: 1px solid #27272A;
}


.bg-d-gray{
  background-color: #1C1C1C;
}

.bg-l-gray{
  background-color: #2A2A2A;
}

.bg-l-hilight{
  background-color: #00B3B3;
}

button{
  transition: 0.2s all ease-in-out;
}

.keyboard-container .symbols button:hover{
  background-color: #333333;
  transition: transform 0.2s ease-in-out;
}
.keyboard-container .symbols button:active{

    transform: scale(0.98);
}


.keyboard-container button:hover{
  transition: transform 0.2s ease-in-out;
}
.keyboard-container button:active{
    transform: scale(0.98);
}



.text-subtle{
  color: #606060;
}
